body 

{
    color: rgb(0, 0, 0);    
    background-color: beige;
    font-size: 25px;
}

p {
    color: white;
    background-color: green;
    font-size: 18px;
}

div {
    color: white;
    background-color: red;
    font-size: 18px;
    text-align: center;
}

button {
    /* button test */
    color: black;
    background-color: orange;
    font-size: 18px;
}

.mainpage {
    background-color: brown; 
}

.description {
    color: blue;
    background-color: wheat;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    
}

.ingredients,    
.video {
    /* group selector test */
    color: white;
    background-color: black;
}